<?xml version="1.0"?>
<launch>
  <arg name="use_path_with_velocity" default="true" />
  <arg name="vel" default="0.5" />
  <arg name="map_file" default="$(find waypoint_neonavigation)/maps/3f_all.yaml" />

  <include file="$(find waypoint_neonavigation)/launch/include/neonavigation.launch">
    <arg name="simulate" value="true" />
    <arg name="map_file" value="$(arg map_file)" />
    <arg name="use_path_with_velocity" value="true" />
    <arg name="vel" value="$(arg vel)" />
  </include>
  
  <node pkg="costmap_cspace" type="largemap_to_map" name="largemap_to_map">
    <remap from="map" to="map_with_local_objects" />
    <remap from="map_local" to="overlay1" />
    <param name="width" value="60" />
    <param name="hz" value="1.5" />
    <param name="round_local_map" value="true" />
    <param name="simulate_occlusion" value="true" />
  </node>

  <node pkg="map_server" type="map_server" name="map_server_local" args="$(arg map_file)">
    <remap from="map" to="map_with_local_objects" />
  </node>
</launch>
